<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Footer template</title>
</head>
<body>
	<footer id="fragmentTag" th:fragment="footer1(title,substitle)">
		<div class="container"></div>
		<h1 th:text="${title}"></h1>
		<h2 th:text="${subtitle}"></h2>
		<h2>Provide good content about Programming.</h2>
		<h1>Feel free to contact and work with me</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
			dicta pariatur hic qui necessitatibus quaerat iusto tenetur cum
			molestiae maxime cumque architecto ad quia ex commodi sed quasi
			consectetur quod ut eveniet repudiandae earum adipisci mollitia
			accusamus ratione officiis ea delectus. Repellat iusto nesciunt omnis
			expedita perferendis quasi aperiam a.
	</footer>
</body>
</html>