<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Example of loop</title>
</head>
<body>

	<h1>Going to traverse elements in collection..</h1>

	<h1 th:text="${names}"></h1>

	<ul>
		<li th:each="n,status : ${names}"><span
			th:style="${status.odd} ? 'color:red;font-weight:bold' : ' '"
			th:text="${n}"></span>
	</ul>

	<!-- 
index: the current iteration index, starting with 0 (zero)
count: the number of elements processed sor far
size: the total number of elements in the list
even/odd: checks if the current iteration index is even or odd
first: checks if the current iteration is the first one 
last: checks if the current iteration is the last one

 -->

</body>
</html>